body {
    color: #565867;
    background: #f3f5f7;
    font-size: 18px;
}

.container {
    padding-left: 40px;
    padding-right: 40px;
    -webkit-box-flex: 1;
    flex: 1 0 auto;
}

.content {
    max-width: 100%;
    width: 900px;
    margin-left: auto;
    margin-right: auto;
}

.paper {
    background: white;
    padding: 80px;
}

.actigence_name {
    text-align: center;
    font-size: 2.5em;
    margin-top: -20px;
    color: #0C5460;
}

.page_label {
    text-align: left;
    font-size: 2em;
    color: #4b545c;
}